.captionslide {
    padding-top: 50px;
    padding-bottom: 1px;
    padding-bottom: 75px;
    background: #f3f3f3;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary {
    display: block;
}
用户代理样式表
section {
    display: block;
    unicode-bidi: isolate;
}
html, body {
    line-height: 1.15;
    font-family: 'Roboto', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Nanum Gothic', '나눔 고딕', '맑은 고딕', Malgun Gothic, '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    box-sizing: border-box;
}
element.style {
}
.caption-style-2 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
ol, ul {
    list-style: none;
}
* {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.caption-style-2:after {
    display: block;
    clear: both;
    content: "";
}
*::after, *::before {
    box-sizing: border-box;
}