h1,h2{ 
  color: grey;
  font-size: 1.4rem;


}
h1{
  border-bottom: 1px solid black;
  font-size: 2rem;

}
p{
  font-size: 1rem;
  
color: maroon;
}
body{
  font-family: Arial;
  

}
html{
  font-size: 20px;

}
body{
	color: indianred;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
  color: rgb(10,10,40);
  color: #a61b29;
  
}

